/******************** 
Philip Miljanic
Comp20 
Assignment 1
indexStyle.css
********************/

body{
	font-family: Arial;
	background-color: orange;
}

h1,h2 {
	text-align: center;
}
#pic {
	text-align: center;
}