/******************** 
Philip Miljanic
Comp20 
Assignment 1
indexStyle.css
********************/

body{
	font-family: Arial;
	background-color: lightblue;
}

h1{
	text-align: center;
}

h2{
	text-decoration: underline;
}

h3{
	text-indent: 10px;
	font-style: italic;
}

#ind1, #ind2, #ind3, #ind4{
	list-style-type: lower-alpha;
}

#pub{
	font-style: italic;
}